{% extends 'base.html' %}

{% block title %}New Tag{% endblock %}

{% block content %}

<h1>Add a New Tag</h1>

<form method="POST" action="/tags/new">

    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="Name your tag">
    </div>

    {% for post in posts %}
    <div>
      <input type="checkbox"
             value="{{ post.id }}"
             id="post_{{ post.id }}"
             name="posts">
      <label for="post_{{ post.id }}">{{ post.title }}</label>
    </div>
    {% endfor %}

    <div>
        <a href="/tags">Cancel</a>
        <button type="submit">Add</button>
    </div>

</form>

{% endblock %}